# Игнорируем виртуальное окружение
venv/

# Игнорируем файлы Python bytecode
__pycache__/
*.pyc
*.pyo

# Игнорируем файлы IDE и редакторов
.vscode/
.idea/

# Игнорируем файлы с настройками среды
*.env

# Игнорируем временные файлы
*.log
*.bak
*.swp
